<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios7-arrow-back"></i> Back
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
        <ion-footer-bar align-title="left" class="bar-calm">
<!--
            <div class="row">
                <div class="col">
                    <a class="title" style="position:inherit" href="#/tab/dash/my-tasks">Tasks</a>
                </div>
                <div class="col">
                    <a class="title" style="position:inherit" href="#/tab/dash/messages">Messages</a>
                </div>
                <div class="col">
                    <a class="title" style="position:inherit" href="#/tab/dash/settings">Settings</a>
                </div>
            </div>
-->
            
              <a class="tab-item" href="#/tab/dash/my-tasks">
                <i class="icon ion-clipboard"></i>
              </a>
              <a class="tab-item" href="#/tab/dash/messages">
                <i class="icon ion-email"></i>
              </a>
              <a class="tab-item" href="#/tab/dash/settings">
                <i class="icon ion-gear-a"></i>
              </a>
            
        </ion-footer-bar>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <header class="bar bar-header bar-calm">
            <h1 class="title">User Name</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item menu-close href="#/tab/dash/login">
                    Sign In
                </ion-item>
                <ion-item menu-close href="#/tab/dash/profile">
                    Profile
                </ion-item>
                <ion-item menu-close href="#/tab/dash/search">
                    Search
                </ion-item>
                <ion-item menu-close href="#/tab/dash/my-tasks">
                    My Tasks
                </ion-item>
                <ion-item menu-close href="#/tab/dash/settings">
                    Settings
                </ion-item>
                <ion-item menu-close href="#/tab/dash/messages">
                    Messages
                </ion-item>
                <ion-item menu-close href="#/tab/dash/about">
                    About Us
                </ion-item>
                <ion-item menu-close href="#/tab/dash/welcome">
                    Sign Out
                </ion-item>
                <ion-item menu-close href="#/tab/dash/develop">
                    Test Page (TODO: remove)
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>