<ion-view view-title="Ждем...">
    <ion-content>
        <h3>Задание успешно создано!</h3>
        <p>Мы рассылаем уведомление о вашем задании подходящим исполнителям.</p>
        <p>Статус заявки и предложения от исполнителей можно посмотреть, выбрав в меню Мои задачи</p>
        <p>Вы получите уведомление, как только кто-нибудь откликнется.</p>
        <p>Если через какое-то время вы не получите откликов, попробуйте снизить цену и отправить заявку еще раз.</p>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-positive next-button" ng-click="goToMyTasks()">
            Мои задачи
        </button>
    </ion-footer-bar>
</ion-view>
