.step {
  input, textarea {
    border: 1px solid rgba(0, 0, 0, 0.50);
  }
}

.next-button {
  width: 100%;
}
.preview-item {
  display: inline-block;
  margin: 5px 10px;
}

.float-right {
  float: right;
}