<ion-view title="Test page">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    Develop
      !</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>
!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>
!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>
!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>
!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>!</br>0000</br>
  </ion-content>
</ion-view>